# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# SQLite DB
*.db
*.sqlite3

# Virtualenv (якщо не ізольовано через Poetry shell)
venv/
.env
.env.*

# VSCode
.vscode/

# PyCharm
.idea/

# Alembic
alembic/versions/*.pyc
alembic/__pycache__/

# OS файли
.DS_Store
Thumbs.db

# Poetry
poetry.lock
# Якщо ти хочеш ігнорувати lock-файл (не обов'язково):
# poetry.lock

# pytest
.cache/
.pytest_cache/
htmlcov/
coverage.xml
*.cover

# MyPy
.mypy_cache/

# Editor backups
*~
*.swp
*.swo
